.errorPageContainer {
    color: white;
}
.sadEmoji {
    margin-top: 50px;
}
.center, .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    font-size: 100px;
    text-align: center;
}
.subheader {
    text-align: center;
    color: grey;
    font-size: 40px;
    margin-top: 20px;
}
.description {
    text-align: center;
    margin-top: 20px;
    color: #b1b1b1;
}
.goBackBTN {
    margin-top: 30px;
    text-align: center;
    padding: 20px 700px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}